<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Posts</h1>
    <ul>
        <% for (let p of posts) {%>
            <li><div><a href="https://didactic-journey-9xw6g5j5747fxq4v-3000.app.github.dev/show/<%=p.id%>"><%= p.title %></a></div> <b><%= p.author %></b></li>
            <% }%>
    </ul>
    <button><a href="https://didactic-journey-9xw6g5j5747fxq4v-3000.app.github.dev/newpost">Add your post</a></button>
</body>
</html>