<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Paint the screen with you vivid thoughts..</h1>
    <form action= "https://didactic-journey-9xw6g5j5747fxq4v-3000.app.github.dev/newpost" method="POST">
        <section>
            <label for="author">Author:</label>
            <input name="author" id="author" type="text">
            <br>
            <label for="title">Title:</label>
            <input name="title" id="title" type="text">
        </section>
        <section>
            <textarea name="text" id="text" cols="200" rows="50" placeholder="Write your blog post here..."></textarea>
        </section>
        <button>Publish</button>
        </form>
</body>
</html>